.contacts__title {
  color: @dark-grey;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.contacts__address {
  color: @special-dark-grey-2;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, sans-serif;
}
