.example {
  background-color: @example-grey;
}
.example__description {
  color: @special-dark-grey;
}
.example__info {
  display: grid;
  justify-content: center;
}
.example-results__list {
  display: flex;
  justify-content: space-between;
}
.example__costs {
  line-height: 20px;
}
