.page-main__info {
  position: relative;
}
.page-main__title {
  margin: 27px 0 36px;
}
.page-main__slogan {
  margin-top: 25px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  // color: @basic-white;
}
.page-main__food-img {
  width: 280px;
  height: 270px;
  @media (min-width: @tablet-width) {
    width: 710px;
    height: 610px;
  }
  @media (min-width: @desktop-width) {
    width: 552px;
    height: 500px;
  }
}
// .page-main__button-find {

// }
