// .page-footer {
// }
.page-footer__offer {
  display: grid;
  grid-template-columns: 139px 139px; // ?
  justify-content: space-between;
  padding: 20px 26px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 160px 160px;
    padding: 56px 70px;
  }
  @media (min-width: @desktop-width) {
    padding: 56px 80px;
  }
}
