.programs-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (min-width: @tablet-width) {
    gap: 30px;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}
.programs-list__item {
  display: grid;
  padding: 24px 20px 18px;
  background-color: @basic-grey;
}
