.promo {
  position: relative;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  background-color: rgba(104, 183, 56, 0.85);

  &::after {
    content: "";
    position: absolute;
    top: 58px;
    left: calc(50% - 39px);
    width: 78px;
    height: 80px;
    background-image: url("../img/gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: @tablet-width) {
      left: 77px;
      width: 80px;
      height: 82px;
    }
    @media (min-width: @desktop-width) {
      top: 56px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-top: 69px;
    height: 200px;
    background: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../../img/catalog/cat-bag-mid.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../img/catalog/cat-bag-mid@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 200px;
    }
  }
  @media (min-width: @desktop-width) {
    margin-top: 0;
    width: 245px;
    height: auto;
    background: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../../img/catalog/cat-bag-big.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../img/catalog/cat-bag-big@2x.png");
      background-size: auto 289px;
    }
  }
}
.promo__img {
  z-index: -1;
  align-self: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
.promo__title {
  margin: 0;
  position: absolute;
  bottom: 43px;
  left: calc(50% - 81px);
  color: @basic-white;
  font-size: 16px;
  line-height: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 162px;

  @media (min-width: @tablet-width) {
    right: 124px;
    bottom: 69px;
    left: unset;
  }

  @media (min-width: @desktop-width) {
    right: unset;
    bottom: 42px;
    left: calc(50% - 81px);
  }
}
