@font-face {
  font-family: "Oswaldregular";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswaldmedium";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page {
  height: 100%;
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}
.page__body {
  min-width: 320px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}
.page-header {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
}
.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__logo-img {
  width: 34px;
  height: 38px;
}
.page-header__logo-text {
  width: 101px;
  height: 18px;
}
.page-header__logo:hover {
  opacity: 0.8;
}
.page-header__logo:focus {
  opacity: 0.6;
}
.main-nav__toggle {
  border: none;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 16px;
}
.main-nav__list {
  list-style: none;
  margin: 0;
}
.page-main__title {
  margin: 27px 0 36px;
}
.page-main__slogan {
  margin-top: 25px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}
.page-main__food-img {
  width: 280px;
  height: 270px;
}
.page-title {
  min-width: 250px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}
.button {
  display: inline-flex;
  padding: 8px 44px;
  justify-content: center;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  min-width: 192px;
  border: none;
  font-family: "Oswaldregular", "Arial", sans-serif;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:focus {
  background-color: #5eaa2f;
  color: rgba(0, 0, 0, 0.3);
}
.programs-list {
  display: grid;
  row-gap: 20px;
}
.programs-list__item {
  display: grid;
  background-color: #f2f2f2;
}
.programs__title {
  display: flex;
  position: relative;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
.programs__description {
  color: #444444;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.programs__button-catalog {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.advantages__list {
  display: grid;
  row-gap: 20px;
}
.advantages__item {
  color: #444444;
}
.example {
  background-color: #eaeaea;
}
.example__description {
  color: #444444;
}
.example__info {
  display: grid;
  justify-content: center;
}
.example-results__list {
  display: flex;
  justify-content: space-between;
}
.example__costs {
  line-height: 20px;
}
.page-footer {
  background-color: #f2f2f2;
}
.page-footer__offer {
  display: flex;
  justify-content: space-between;
}
.page-footer__logo-link {
  justify-self: center;
}
.contacts__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.contacts__address {
  color: #222222;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, sans-serif;
}
.social__list {
  display: flex;
  justify-content: space-between;
}
.caatalog {
  font-family: "Oswaldregular", "Arial", sans-serif;
}
.catalog__title {
  font-size: 36px;
  line-height: 36px;
}
.catalog-main {
  display: flex;
  flex-direction: column;
}
.catalog-main__item-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img name" "img table";
}
.catalog-main__item-img {
  grid-area: img;
}
.catalog-main__item-name {
  grid-area: name;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog-main__item-table {
  grid-area: table;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  font-family: Arial, sans-serif;
}
.catalog-main__button {
  width: 100%;
}
.products-more {
  text-align: center;
}
.products-more__title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 53px;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.products-more__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.products-more__description {
  font-family: Arial, sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}
.button-more {
  display: inline-flex;
  padding: 8px 44px;
  justify-content: center;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  min-width: 192px;
  border: none;
  font-family: "Oswaldregular", "Arial", sans-serif;
  color: #444444;
  background-color: #f2f2f2;
  width: 100%;
}
.button-more:hover {
  background-color: #5eaa2f;
}
.button-more:focus {
  background-color: #5eaa2f;
  color: rgba(0, 0, 0, 0.3);
}
.catalog-additional__title {
  font-size: 24px;
  line-height: 24px;
}
.catalog-additional__item {
  display: flex;
  flex-direction: column;
}
.catalog-additional__item-name {
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.catalog-additional__item-info {
  display: flex;
  justify-content: space-between;
}
.catalog-additional__item-quantity,
.catalog-additional__item-price {
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  font-family: Arial, sans-serif;
}
.catalog-additional__item-price {
  text-transform: uppercase;
}
.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(104, 183, 56, 0.85);
  background-blend-mode: overlay;
}
.promo::after {
  content: "";
  position: absolute;
  top: 58px;
  left: calc(50% - 39px);
  width: 78px;
  height: 80px;
  background-image: url("../img/gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.promo__img {
  z-index: -1;
}
.promo__title {
  position: absolute;
  bottom: 43px;
  left: calc(50% - 81px);
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 162px;
}

/*# sourceMappingURL=style.css.map */
