@basic-green: #68b738;
@basic-black: #000000;
@basic-white: #ffffff;
@basic-grey: #f2f2f2;
@special-dark-grey: #444444;
@special-2-grey: #666666;
@dark-grey: #111111;
@special-grey: #cdcdcd;
@special-dark-grey-2: #222222;
@example-grey: #eaeaea;
@basic-green-2: #5eaa2f;

.opacity(@value) {
  opacity: @value;
}
